.navbarContainer{
  display: flex;
}

.navbar{
  display: flex;
}

.Logo{
  display: flex;
}

.display{
  display: flex;
}

.contactsInfo{
  display: flex;
}

body{
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 8vw;
}

p{
  font-size: 2vw;
}