.navbarContainer {
  width: 100vw;
  display: flex;
  margin-top: 0vw;
  justify-content: space-between;
  align-items: center;
  top: 0vw;
  left: 0vw;  
  overflow-x: hidden;
}


.navbar {
  display: flex;
  align-items: center;
  font-size: 4vw;
  justify-content: center;
}

.navbar ul{
  list-style: none;
  display: flex;
  max-height: 6vw;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

.navbar ul li {
  margin-left: 0vw;
  margin-right: 5.5vw; /* Add spacing between navbar items */
  justify-content: center;
  overflow-x: hidden;
}


.navbar ul li a{
 color: white;
 text-decoration: none;
}

.navbar ul li a:hover{
  color: blue;
  text-decoration: none;
}

.Logo img{
  margin: 0;
  max-height: 10vw;
  max-width: 10vw;
  /*height: 12vw;
  width: auto;*/
  pointer-events: none; /* Prevent pointer events on the logo */
  cursor: default; /* Set cursor to default */
  margin-right: 6.5vw;
}

.display{
  display: flex;
  margin-top: 0vw;
  justify-content: center;
}

.aboutme{
  justify-content: center;
  font-size: 2.5vw;
  max-width: 75vw;
}


.gameslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-size: 2.5vw;
}

.gameslist ul {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within the list */
  list-style: none;
  padding: 0; /* Remove default padding for the list */
}

.contactsInfo{
  /*display: flex;*/
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 3vw;
  color: white;
}

.contactsInfo ul{
  list-style: none;
  max-height: 6vw;
}

.contactsInfo ul li a{
 color: white;
 text-decoration: none;
}

.contactsInfo ul li a:hover{
  color: blue;
  text-decoration: none;
}

body{
  /*display: flex;*/
  margin: 0;
  background-repeat: none;
  background-size: cover;
  margin-bottom: 10vw;
  background-image: url(/Images/bground.png);
  color: white;
  overflow-x: hidden;
  
}

h1{
  font-size: 4vw;
  text-align: center;
}


.gearcontents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gearcontents > div {
  text-align: center;
  margin: 0 10px;
}

.gearcontents img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  display: block; /* Make images block-level */
  margin: 0 auto; /* Center images horizontally */
}

.headphones img{
  margin: 0;
  max-height: 10vw;
  max-width: 10vw;
  /*height: 12vw;
  width: auto;*/
  margin-right: 6.5vw;
}

.keyboard img{
  margin: 0;
  max-height: 10vw;
  max-width: 15vw;
  /*height: 12vw;
  width: auto;*/
  margin-right: 6.5vw;
}

.mouse img{
  margin: 0;
  max-height: 10vw;
  max-width: 10vw;
  /*height: 12vw;
  width: auto;*/
  margin-right: 6.5vw;
}

.headphones a{
  display: block;
  margin-top: 10px; /* Adjust as needed */
  color: white;
  text-decoration: none;
 }
 
 .headphones a:hover{
   color: blue;
   text-decoration: none;
 }

 .keyboard a{
  display: block;
  margin-top: 10px; /* Adjust as needed */
  color: white;
  text-decoration: none;
 }
 
 .keyboard a:hover{
   color: blue;
   text-decoration: none;
 }

 .mouse a{
  display: block;
  margin-top: 10px; /* Adjust as needed */
  color: white;
  text-decoration: none;
 }
 
 .mouse a:hover{
   color: blue;
   text-decoration: none;
 }


@media (max-width: 600px) {
  body{
    margin: 0;
    background-repeat: none;
    background-size: cover;
    margin-bottom: 10vw;
    background-image: none;
    background-color: black;
    color: white;
}
}

/*change max width
